.footer {
  width: 100%;
  min-height: 150px;
  background: #071629;
  color: #fff;
  &__body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;
  }
  & p {
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    opacity: 0.6;
  }
  &__icons {
    display: flex;
    gap: 15px;
    align-self: center;
  }
  &__icon {
    color: #fff;
    transform: scale(1.3);
    transition: 0.3s;
  }
  &__facebook:hover {
    color: #0062e2;
  }
  &__twitter:hover {
    color: #50c8ff;
  }
  &__instagram:hover {
    color: #f50163;
  }
}
@media (max-width: 959px) {
  .footer {
    &__container {
      flex-direction: column;
      align-items: center;
      margin: 0 0 20px 0;
      gap: 20px;
      & img {
        width: 160px;
      }
    }
  }
}
